.frame {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    width: 1024px;
    height: 928px;
}

header {
    position: fixed;
    top: -7px;
    background-color: #444444;
    height: 172px;
    width: 1024px;
}

.content {
    display: block;
    position: relative;
    bottom: -79px;
    background-color: #efefef;
    height: 770px;
    width: 698px;
}



footer {
    position: absolute;
    bottom: 0;
    background-color: #222222;
    height: 82px;
    width: 100%;
}
